@import url('https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4;
}

/* CSS custom properties (variables). Defined once, used everywhere. */
:root {
  --c-blue: #48b2ff;
  --ff-acme: 'Acme', sans-serif;
}